@model TrabalhoFinalDwASPNET.Models.Events
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "Detalhes";
    var isParticipating = ViewBag.IsParticipating as bool? ?? false;
}

<style>
    .bots {
        text-align: center;
    }

    .h1 {
        text-align: center;
    }

    .event-container {
        max-width: 800px;
        margin: 0 auto;
        padding: 20px;
        border: 1px solid #ddd;
        border-radius: 5px;
        text-align: center;
    }

    .event-image {
        width: 100%;
        max-height: 400px;
        object-fit: cover;
        border-radius: 5px;
    }

    .event-property {
        font-weight: bold;
        margin-top: 10px;
    }

    .event-value {
        margin-top: 5px;
    }
</style>

<h1>Detalhes</h1>

@if (!ViewData.ModelState.IsValid)
{
    <div class="alert alert-danger">
        <ul>
            @foreach (var modelState in ViewData.ModelState.Values)
            {
                foreach (var modelError in modelState.Errors)
                {
                    <li>@modelError.ErrorMessage</li>
                }
            }
        </ul>
    </div>
}
<div>
    <button class="btn btn-secondary mt-3" onclick="location.href='@Url.Action("Index", "Events")'">Voltar</button>
</div>
<div class="event-container">
    <div class="event">
        <img src="@Model.Image" alt="Imagem do Evento" class="event-image" />
        <div class="event-property">Título:</div>
        <div class="event-value">@Model.title</div>
        <div class="event-property">Descrição:</div>
        <div class="event-value">@Model.Description</div>
        <div class="event-property">Hora de Início:</div>
        <div class="event-value">@Model.start_time</div>
        <div class="event-property">Hora de Término:</div>
        <div class="event-value">@Model.end_time</div>
        <div class="event-property">Localização:</div>
        <div class="event-value">@Model.location</div>
        <div class="event-property">Máximo de Participantes:</div>
        <div class="event-value">@Model.maxParticipants</div>
        <br />
        <form id="participateForm" method="post" action="@Url.Action(isParticipating ? "Desparticipate" : "Participate", "Events")">
            @Html.AntiForgeryToken()
            <input type="hidden" name="eventId" value="@Model.Id" />
            @if (!SignInManager.IsSignedIn(User))
            {
                <h4>Entre para participar</h4>
                <a class="btn btn-primary" asp-area="Identity" asp-page="/Account/Login">Entrar</a>
            }
            else
            {
                @if (isParticipating)
                {
                    <button type="submit" class="btn btn-danger">Desparticipar</button>
                }
                else
                {
                    <button type="submit" class="btn btn-primary">Participar</button>
                }
            }
        </form>
    </div>
</div>
<br />
<br />
