@model IEnumerable<TrabalhoFinalDwASPNET.Models.Events>

@{
    ViewData["Title"] = "Index";
}


<style>
    .event-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .event {
        width: 30%;
        margin-bottom: 20px;
        padding: 10px;
        border: 1px solid #ddd;
        border-radius: 5px;
    }

    .event-image {
        width: 100%;
        height: auto;
        border-radius: 5px;
    }

    .event-name {
        font-size: 18px;
        margin-top: 10px;
        margin-bottom: 5px;
    }

    .event-description {
        font-size: 14px;
    }
</style>

<h1>Index</h1>

<p>
    <a asp-action="Create">Create Your Own Event</a>
</p>
<div class="event-container">
    @foreach (var item in Model)
    {
        <div class="event">
            <img src="@item.Image" alt="Event Image" class="event-image" />
            <h2 class="event-name">@item.title</h2>
            <div>Total Participants: @item.listaParticipants.Count / @item.maxParticipants</div>
            <a asp-action="Details" asp-route-id="@item.Id">Details</a>
        </div>
    }
</div>