@model IEnumerable<TrabalhoFinalDwASPNET.Models.Events>
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "Todos os Eventos";
}

<style>
    .event-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .event {
        width: 30%;
        margin-bottom: 20px;
        padding: 10px;
        border: 1px solid #ddd;
        border-radius: 5px;
    }

    .event-image {
        width: 100%;
        height: auto;
        border-radius: 5px;
    }

    .event-name {
        font-size: 18px;
        margin-top: 10px;
        margin-bottom: 5px;
    }

    .event-description {
        font-size: 14px;
    }
</style>

<h1>Eventos</h1>
@if (SignInManager.IsSignedIn(User))
{
    <p>
        <button class="btn btn-primary" onclick="location.href='@Url.Action("Create", "Events")'">Criar Seu Próprio Evento</button>
        <button class="btn btn-primary" onclick="location.href='@Url.Action("EventsParticipating", "Events")'">Eventos que Você está Participando</button>
    </p>
}

<div class="event-container">
    @foreach (var item in Model)
    {
        <div class="event">
            <img src="@item.Image" alt="Imagem do Evento" class="event-image" />
            <h2 class="event-name">@item.title</h2>
            <div>Participantes Totais: @item.listaParticipants.Count / @item.maxParticipants</div>
            <button class="btn btn-warning mt-2" onclick="location.href='/Events/Details/@item.Id'">Detalhes</button>
        </div>
    }
</div>
