@model List<Events>
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<style>
    .base {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50vh;
        flex-direction: column;
        text-align: center;
    }

    .event-container {
        max-width: 800px;
        margin: 0 auto;
        padding: 20px;
        border: 1px solid #ddd;
        border-radius: 5px;
        text-align: center;
    }

    .event-image {
        width: 100%;
        max-height: 400px;
        object-fit: cover;
        border-radius: 5px;
    }

    .event-property {
        font-weight: bold;
        margin-top: 10px;
    }

    .event-value {
        margin-top: 5px;
    }

    .btn {
        margin-top: 10px;
    }
</style>

@if (!SignInManager.IsSignedIn(User))
{
    <div class="base">
        <h4>FAÇA LOGIN OU REGISTRE-SE PARA PARTICIPAR!</h4>
        <a class="btn btn-primary mb-2" asp-area="Identity" asp-page="/Account/Login">Login</a>
        <a class="btn btn-secondary" asp-area="Identity" asp-page="/Account/Register">Registro</a>
    </div>
}
else
{
    <h2>Meus Eventos</h2>
    <p>
        <button class="btn btn-primary" onclick="location.href='@Url.Action("Create", "Events")'">Criar um Novo Evento</button>
    </p>

    @if (Model.Count == 0)
    {
        <p>Você ainda não criou nenhum evento.</p>
    }
    else
    {
        @foreach (var item in Model)
        {
            <div class="event-container">
                <div class="event">
                    <img src="@item.Image" alt="Imagem do Evento" class="event-image" />
                    <div class="event-property">Título:</div>
                    <div class="event-value">@item.title</div>
                    <div class="event-property">Descrição:</div>
                    <div class="event-value">@item.Description</div>
                    <div class="event-property">Hora de Início:</div>
                    <div class="event-value">@item.start_time</div>
                    <div class="event-property">Hora de Término:</div>
                    <div class="event-value">@item.end_time</div>
                    <div class="event-property">Localização:</div>
                    <div class="event-value">@item.location</div>
                    <div class="event-property">Privacidade:</div>
                    <div class="event-value">@item.is_private</div>
                    <div class="event-property">Máximo de Participantes:</div>
                    <div>Participantes: @item.listaParticipants.Count / @item.maxParticipants</div>
                </div>
                <button class="btn btn-warning mt-2" onclick="location.href='/Events/Edit/@item.Id'">Editar</button>
                <button class="btn btn-danger mt-2" onclick="location.href='/Events/Delete/@item.Id'">Deletar</button>
            </div>
            <br />
        }
    }
}
